<form class="login" [formGroup]="form">
    <div class="mb-3 form-group">
        <h3>Nome de usuario:</h3>
        <input formControlName="username" class="form-control mb-1" type="text">
        <span *ngIf="isUsernameValid()" class="text-danger">Digite o nome de usuario</span>
    </div>

    <div class="mb-3 form-group">
        <h3>Senha:</h3>
        <input formControlName="senha" class="form-control mb-1" type="password">
        <span *ngIf="isSenhaInvalid()" class="text-danger">Digite uma senha</span>
    </div>

    <span *ngIf="senhaInvalida" class="text-danger">Usuario ou senha invalidos</span>
    <button class="btn btn-primary w-100 mt-3" (click)="login()">Login</button>
</form>